/* COMMON */
body {
	word-break: keep-all;
}

a {
	text-decoration: none;
	cursor: pointer;
}

*,
*::before,
*::after {
	/* -webkit-box-sizing: border-box; */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* -ms-flex: 0 1 auto; */
}

input,
button,
[role="button"],
textarea,
summary {
	font-family: "Nanum Myeongjo", serif;
	outline: none;
}

button,
[role="button"] {
	border: 1px solid rgba(0, 0, 0, 0);
	background: none;
	cursor: pointer;
}

button[disabled] {
	cursor: not-allowed;
}

/* input:focus {
	outline: none;
} */

/* Deleting stepper in number input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"],
input[type="tel"] {
	letter-spacing: 2px;
}

.body__container {
	/* font-family: "Noto Sans KR", sans-serif; */
	font-family: "Nanum Myeongjo", serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	position: relative;
}

.logo {
	height: 100%;
	display: inline-flex;
	align-items: center;
}

.logo a {
	display: flex;
	width: 150px;
	height: 100%;
	background-image: url("./../img/logo-primary.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	/* .blind-box 로 대체 (성능이슈 - 레이아웃 자체를 크게 잡는다) */
	/* text-indent: -9999px; */
	padding: 10px;
	box-sizing: border-box;
}

/* Alternative text box */
.blind-box {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.text-box {
	display: flex;
	align-items: center;
	overflow-wrap: break-word;
	white-space: pre-line;
	font-size: 13px;
	font-weight: 400;
	color: rgb(72, 72, 72);
	line-height: 1.5;
	margin: 0;
}

/* .text-box--important {
	font-size: 16px;
} */

/* ICON */
.icon--next-step {
	margin: 0 12px;
	position: relative;
	width: 26px;
	height: 26px;
}

.icon--next-step::before {
	content: "";
	position: absolute;
	top: 8.3px;
	left: 7px;
	z-index: 2000;
	display: block;
	width: 8px;
	height: 8px;
	background: none;
	border-color: #767676;
	border-width: 1px 1px 0 0;
	border-style: solid;
	transform: rotate(45deg);
}

.icon--required {
	color: #ff4800;
	font-size: 16px;
}

.bounce {
	animation-name: bounce;
	animation-duration: 2s;
	animation-delay: 0;
	/* animation-timing-function: ease-in-out; */
}

@keyframes bounce {
	0%,
	20%,
	50%,
	60%,
	80%,
	100% {
		transform: scale(1);
	}
	40% {
		transform: scale(2);
		color: #f29a38;
	}
	55% {
		transform: scale(1.3);
		color: #f29a38;
	}
	62% {
		transform: scale(1.1);
		color: #f29a38;
	}
}

/* PROGRESS BOX */
.progress-info-box {
	margin: 16px 0;
	font-size: 14px;
}

.progress-info {
	display: inline-flex;
	margin-left: 20px;
}

.progress-info__status--ok {
	color: #000;
	font-weight: 700;
}

.progress-info ol,
.progress-info li,
.progress-info a {
	display: flex;
	display: -ms-flex;
	align-items: center;
}

.progress-bar {
	background-color: #d8d8d8;
	height: 8px;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.progress-bar__status-bar {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #333;
	/* 성능 이슈 -> will-change 사용 지양 */
	/* will-change: transform; */
	transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s,
		transform 0.5s ease 0s;
}

.sign-fieldset__item.text-box {
	height: 35px;
	margin-bottom: 0;
}

.text-box--warning {
	color: #ee6c60;
}

.text-box--ok {
	color: #468d36;
}

/* BTN */
.btn {
	/*   display: block; */
	height: 34px;
	background: none;
	color: #333;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 12px;
	border: 2px solid #333;
	border-radius: 6px;
	border-radius: 0;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	outline: none;
}

.btn:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.btn--disabled {
	border-color: #767676;
	cursor: not-allowed;
}

.btn--disabled::before {
	position: absolute;
	z-index: 1;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(229, 229, 229, 0.5);
}

.btn--disabled:hover {
	box-shadow: none;
}

.btn--link {
	padding: 0;
	font-size: 0.8rem;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: none;
	border-radius: 0;
	/* box-sizing: border-box; */
	display: inline-block;
	height: 17px;
	color: #767676;
}

.btn--link:hover {
	border-bottom: 0.3px solid #3d63f6;
	color: #3d63f6;
	box-shadow: none;
}

.btn--primary {
	font-size: 10px;
	border: none;
	box-shadow: none !important;
	position: relative;
}

.btn--primary::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 22px;
	z-index: -1;
	background-color: rgba(229, 229, 229, 0);
	transform: background-color 0.4s;
}

.btn--primary:hover::before {
	background-color: rgba(229, 229, 229, 0.5);
}

.btn--animation {
	animation: aliveBtn 1.5s infinite alternate;
}

@keyframes aliveBtn {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-6px);
	}
}

.em-btn {
	padding: 20px 0;
	border: 1px solid #e5e5e5;
	font-size: 1.2rem;
	font-weight: 700;
	position: relative;
	color: #333;
	transition: all 0.4s;
}

.em-btn--buy-now {
	color: #3d63f6;
	background-color: #e5e5e5;
	box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.05);
}

.em-btn--buy-now:hover {
	background-color: #3d63f6;
	border: 1px solid #3d63f6;
	color: #fff;
}

.em-btn--buy-now.btn--disabled:hover {
	color: #3d63f6;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
}

.btn-box {
	padding-top: 32px;
}

.btn-box .btn {
	height: 40px;
	border-width: 1px;
}

.centering-box {
	display: block;
	text-align: center;
	padding: 10px 0;
	box-sizing: border-box;
}

.space-bw-box {
	display: flex;
	justify-content: space-between;
}

/* INPUT */
.input-field {
	display: flex;
	height: 100%;
}

.input-label {
	width: 140px;
	display: flex;
	align-items: center;
	padding-right: 20px;
	font-size: 0.9rem;
}

.text-input {
	border: 1px solid #d3d3d3;
	position: relative;
	flex: 1 1 auto;
}

.text-input__input:focus.text-input {
	border-color: #000;
}

.text-input__input {
	display: block;
	padding: 6px 10px;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
}

.text-input__input--readonly {
	cursor: default;
}

.text-input__btn {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	display: inline-flex;
	align-items: center;
	font-size: 0.8rem;
	color: #767676;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}

/* SIMPLE SHORT TEXTAREA */
.text-area {
	display: block;
	padding: 22px 10px;
	font-size: 0.9em;
	font-weight: 900;
}

.text-area label,
.text-area input {
	display: block;
}

.text-area label {
	margin-bottom: 14px;
}

.text-area input {
	width: 100%;
	height: 50px;
	padding: 5px 10px;
	border: 1px solid #e5e5e5;
}

/* CHECKBOX */
.input--checkbox {
	position: relative;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.checkbox {
	display: inline-block;
	width: 16px;
	min-width: 16px;
	height: 16px;
	padding: 0;
	border: 1px solid #767676;
	position: relative;
}

.checkbox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}

.checkbox::after {
	content: "";
	position: absolute;
	left: 4px;
	width: 6px;
	height: 11px;
	background: none;
	/* border: 1px solid #767676; */
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #767676;
	transform: rotate(45deg);
}

.checkbox--checked {
	border-color: #3d63f6;
}

.checkbox--checked::before {
	background-color: #3d63f6;
}

.checkbox--checked::after {
	border-color: #fff;
}

.checkbox-label {
	margin-left: 8px;
}

/* RADIO */
.radio-box {
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.radio-box label {
	display: block;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
}

.radio-box__container {
	padding: 26px 10px;
}

.radio-box__label {
	display: inline-block;
	width: 90%;
}

.radio-box__radio {
	display: inline-block;
	text-align: right;
	width: 10%;
	margin: 0;
	position: relative;
}

.input--radio {
	padding: 0;
	margin: 0;
	opacity: 0;
}

.radio {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	font-size: 6px;
	width: 18px;
	height: 18px;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .radio--checked {
	border: 1px solid #333;
} */

.radio__dot {
	width: 1em;
	height: 1em;
	display: block;
	background-color: #333;
	border-radius: 50%;
}

/* PRICE TAG */
.discount-rate {
	margin-right: 8px;
}

.origin-price {
	font-size: 12px;
	color: #767676;
}

.prdt-sale-price {
	padding: 12px 0 0;
	font-size: 21px;
}

/* SEARCH BOX */
.search-box {
	display: flex;
	height: 100%;
}

.search-box__input-box {
	width: 0%;
	padding: 0;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
	transition: width 0.8s;
}

.search-box__input--text {
	padding: 0;
	border: none;
	font-size: 15px;
	font-weight: 700;
	color: #333;
	background: none;
	height: 29px;
	box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	transition: padding 0.8s;
}

.search-box__input--text::-webkit-input-placeholder {
	color: #333;
	font-size: 12px;
	font-weight: 400;
}
.search-box__input--text::-ms-input-placeholder {
	color: #333;
	font-size: 12px;
	font-weight: 400;
}
.search-box__input--text::-moz-input-placeholder {
	color: #333;
	font-size: 12px;
	font-weight: 400;
}

.search-box__btn {
	order: 1;
	margin-left: 10px;
}

/* SEARCH BOX - ANIMATION */

.search-box__input-box.full-width {
	width: 100%;
}

.search-box__input-box.full-width .search-box__input--text {
	padding: 0 5px;
}

/* SIGN BOX */
.sign-icon-box {
	height: 100%;
	display: flex;
	align-items: center;
}

.sign-icon-box__btn {
	display: flex;
	align-items: center;
}

/* SUMMARY */
.summary {
}

.summary__title {
	font-size: 38px;
	font-weight: 800;
	line-height: 1.25;
	margin-bottom: 18px;
}

.summary__description {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.5;
}

/* FLOAT */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.float--left {
	float: left;
}

.float--right {
	float: right;
}

.section {
	/* position: relative; */
}

.section .container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 40px;
	position: relative;
	box-sizing: border-box;
}

.map {
	width: 100%;
	height: 400px;
	margin-top: 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* border-bottom: none; */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

/* SNS LINK ICON */
.sns-link {
	display: inline-flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	background-color: #333;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

/* EMPTY AIRLOCK */

.airlock {
	height: 30px;
	margin: 0 auto;
	background-image: url("./../img/logo-primary.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.airlock--mar-bot {
	margin-bottom: 30px;
}

/* BANNER */
.banner {
}

.banner a {
	display: block;
	background-color: #000;
}

.banner .banner__content {
	color: #fff;
	font-size: 13px;
	text-align: center;
	padding: 18px 0;
	letter-spacing: 1px;
}

.banner .banner__due {
	font-size: 11px;
	margin-left: 11px;
}

.banner--hidden {
	display: none;
}

/* .section--header */
.section--header {
	position: absolute;
	/* top: 49px; */
	width: 100%;
	z-index: 100;
	transition: background-color 0.6s, border-bottom 0.6s;
}

.section--header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.05));
	opacity: 0.05;
	transition: opacity 150ms ease;
}

.section--header .container {
	max-width: none;
	height: 130px;
	box-sizing: border-box;
}

.section--header .menu-group {
	height: 50%;
}

.section--header .sign-icon-box__btn .fas {
	margin-right: 5px;
}

.menu-label--bag-cnt {
	margin-left: 6px;
	font-size: 1rem;
	position: relative;
	left: -16px;
}

.section--header .nav-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50%;
}

#nav-toggle-btn {
	display: none;
}

#nav-toggle-btn .fas {
	font-size: 19px;
}

.section--header .nav-group .fas {
	font-size: 24px;
}

.section--header .nav--list {
	display: flex;
	/* margin-left: -8px; */
}

.section--header .nav--list li {
	width: auto;
	margin-right: 24px;
}

.section--header .nav--list li a {
	display: block;
	padding: 10px 0;
	color: black;
	font-size: 14px;
	font-weight: 700;
	/* letter-spacing: 3px; */
	box-sizing: border-box;
}

.section--header .nav--list li a:hover {
	color: #3d63f6;
	border-bottom: 1px solid #3d63f6;
	padding-bottom: 7px;
}

/* .section--header - SCROLL */
.section--header.scrolled {
	position: fixed;
	top: 0;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

.section--header.scrolled::before {
	opacity: 0;
}

.section--header.scrolled .container {
	/* max-width: 1240px; */
	display: flex;
	justify-content: space-between;
	height: 80px;
	padding: 0 40px 0 200px;
}

.section--header.scrolled .menu-group,
.section--header.scrolled .nav-group {
	height: 100%;
}

.section--header.scrolled .menu-group {
	order: 2;
}

.section--header.scrolled .nav-group {
	order: 1;
	/* margin-left: 20px; */
}

.section--header.scrolled .logo {
	position: absolute;
	top: 0;
	left: 40px;
}

.section--header.scrolled .logo a {
	height: 56%;
	background-image: url("./../img/logo-ellipse.png");
	background-position: center center;
}

.section--header.scrolled .sign-icon-box .menu-label {
	display: none;
}

.section--header.scrolled .sign-icon-box .fas {
	margin-right: 0;
}

.section--header.scrolled #home-search-form {
	display: none;
}

/* MAIN */
main {
	min-height: 100vh;
}

/* VISUAL */
.section--visual {
	background-image: url("./../img/bg.png");
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: center 300px;
	position: relative;
	/* text-indent: -9999px; */
}

.section--visual::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.03);
}

.section--visual .container {
	max-width: none;
	height: 800px;
}

/* .section--visual .btn-box {
	max-width: 200px;
	text-align: center;
	margin: 400px auto 0;
}

.section--visual .btn-box .btn {
	padding: 20px;
} */

/* SPOT */

.section--spot .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section--spot .summary {
	margin-bottom: 66px;
}

.section--spot .summary__description,
.section--brand .summary__description {
	color: #767676;
}

.section--spot .summary__title {
	font-size: 28px;
}

.section--spot .summary__description {
	font-size: 13px;
}

.section--spot .summary__description span {
	display: block;
	line-height: 2;
}

/* BRAND */
.section--brand {
	/* background-image: url("");
	background-size: cover;
	background-repeat: no-repeat; */
}

/* .section--footer */
.section--footer {
	/* background-color: #f5f5f5; */
}

.section--footer.section .container {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 11px;
	font-weight: 400;
	color: #767676;
}

.section--footer .site-info {
	display: flex;
	margin-bottom: 22px;
}

.section--footer .site-info li {
	margin-right: 20px;
	line-height: 1.5;
}

.section--footer .site-info li a {
	cursor: pointer;
}

.section--footer .site-info li a:hover {
	color: #4078c0;
}

.section--footer .site-info--doc {
}

.section--footer .site-info--doc a {
	display: block;
	color: #333;
	font-weight: 700;
}

.section--footer .site-info--doc a::after {
	content: "";
	background-color: #333;
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 5px;
	margin: -3px 10px 0;
}

.section--footer .site-info--doc a:last-child::after {
	display: none;
}

/* MODAL - SIGNIN, SIGNUP */

.sign-box {
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.sign-box--full-page {
	height: 100vh;
	padding-top: 180px;
	padding-bottom: 50px;
	box-sizing: border-box;
	justify-content: flex-start;
}

.sign-box__header {
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	position: relative;
}

.sign-box__title {
	letter-spacing: 1px;
	font-size: 22px;
	/* text-indent: -9999px; */
	position: relative;
	background-image: url("./../img/logo-ellipse.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 120px;
	height: 100%;
}

.sign-box__title--text {
	background: none;
	/* text-indent: 0; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.sign-box__body {
	/* flex: 1 1 auto; */
	display: flex;
	align-items: center;
	outline: none;
}

.sign-box__body--full-page {
	align-items: flex-start;
	padding-top: 50px;
}

.sign-box__body--full-page .text-box {
	font-size: 16px;
}

.sign-box__body .container {
	flex: 1 1;
}

.img-box {
}

.img-box__display {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.img-box__display img {
	display: block;
	width: 100%;
	background-color: #d8d8d8;
	overflow: hidden;
}

#signin-form,
#signup-form {
	margin-top: 16px;
}

#signin-form .container,
#signup-form .container {
	padding: 0 40px;
}

.sign-fieldset {
	display: flex;
	flex-direction: column;
}

.sign-fieldset__item {
	width: 100%;
	margin-bottom: 16px;
	height: 50px;
}

.sign-fieldset__item--auto-height {
	height: auto;
}

.sign-fieldset__child {
	display: block;
	margin: 10px auto;
	width: 100%;
	height: auto;
}

.sign-fieldset__item:last-child {
	margin-bottom: 6px;
}

label.sign-fieldset__item > * {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.sign-fieldset + .esc-btn-box {
	margin-bottom: 6px;
}

.sign-box__footer {
	flex: 0 0 auto;
	height: 70px;
	display: flex;
	align-items: center;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 4px;
}

.sign-box__footer .btn {
	margin-left: 6px;
}

/* SET PASSWORD */
#set-password-form .container {
	padding: 0 20%;
}

/* MY PAGE */
.section--mypage .container {
	padding: 180px 40px 40px;
	display: flex;
	align-items: flex-start;
}

.profile-box {
	width: 30%;
	min-width: 280px;
	border: 1px solid #e5e5e5;
	padding: 40px;
	margin-right: 45px;
}

.profile-box .centering-box {
	margin-top: 15px;
	font-size: 13px;
	/* font-size: 0.8rem; */
}

.profile-menu-box {
	padding: 50px 0 14px;
	border-bottom: 1px solid #e5e5e5;
}

.profile-menu-item {
	display: flex;
	margin-bottom: 10px;
}

.profile-menu-item > * {
	line-height: 1.5;
}

.profile-menu-item__title {
	width: 40%;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 10px;
}

.order-box {
	width: 70%;
}

.order-box .centering-box {
	font-size: 1.2rem;
	font-weight: 900;
}

.order-box .sub-title {
	font-size: 1rem;
	font-weight: 400;
	color: #767676;
}

.order-list {
	margin-top: 50px;
}

.order-list__item {
	border-bottom: 1px solid #e5e5e5;
	padding: 40px 10px 20px;
	box-sizing: border-box;
}

.order-date {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.8rem;
}

.order-item {
	display: flex;
}

.order-item__info {
	flex: 1 1 auto;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 1rem;
	box-sizing: border-box;
}

.order-item__info > * {
	padding: 10px;
	box-sizing: border-box;
}

.order-item__info a {
	display: inline-block;
}

.order-item__info a:hover .item-name {
	border-bottom: 1px solid #333;
}

.item-name {
	font-weight: 700;
}

.order-detail {
	font-size: 0.8rem;
}

.order-item__status {
	width: 140px;
	padding: 10px;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.order-item__status--active {
	color: #3d63f6;
}

.order-item__status > * {
	display: block;
	padding: 5px 0;
}

/* ORDER COMPLETE */

.section--order-complt {
	padding: 0 25%;
}

.section--order-complt .title-box {
	text-align: center;
}

.title-box__un-im {
	font-size: 0.6em;
}

.section--order-complt .centering-box .btn {
	width: 50%;
	height: 50px;
}

.section--order-complt .centering-box .btn:first-child {
	border-right-width: 0;
}

.order-complt-details {
	white-space: pre-line;
	padding: 20px 0;
	line-height: 1.5;
}

.order-complt-details__title {
	padding-bottom: 12px;
	font-size: 1.2em;
	font-weight: 700;
}

/* DELETE ACCOUNT */
.section--delete .container {
	padding: 50px 25% 0;
}

.section--delete .title-box,
.section--order-complt .title-box {
	margin: 50px 0;
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	line-height: 1.5;
}

.section--delete .text-area {
	border-bottom: 1px solid #e5e5e5;
	opacity: 0;
	animation-name: opacifyArea;
	animation-duration: 0.4s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
}

@keyframes opacifyArea {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* SHOPPING BAG */
.section--order .container {
	padding: 40px;
}

.title {
	padding: 0 0 10vh;
	font-size: 28px;
}

.title--center {
	text-align: center;
}

.bag-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.bag-master-chkbox-container {
	padding-left: 18px;
}

.bag-master-chkbox-container .checkbox,
.bag-item__checkbox .checkbox {
	transform: scale(1.4);
}

.bag-master-chkbox-label {
	font-size: 16px;
	margin-left: 20px;
	color: #767676;
}

.bag-item {
	border-bottom: 1px solid #e5e5e5;
}

.bag-item:last-child {
	border-bottom-color: #333;
}

.bag-item .container {
	padding: 28px 12px;
	display: flex;
}

.bag-item-container {
	display: flex;
	flex: 1 1 auto;
}

.bag-item-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 6px;
}

/* .bag-item__title {
	width: 1;
} */

.bag-item__checkbox {
	width: 10%;
	justify-content: flex-start;
}

.bag-item__img-box {
	padding-right: 32px;
}

.bag-item__prdt-img {
	width: 120px;
	height: 120px;
	overflow: hidden;
}

.bag-item__prdt-img img {
	width: 100%;
}

.bag-item-info-container {
	display: flex;
	flex: 1 1 auto;
}

.bag-item__prdt-info {
	width: 40%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.bag-item__selected {
	margin-top: 12px;
	font-size: 14px;
}

.bag-item__prdt-name {
	font-size: 22px;
	margin-bottom: 12px;
}

.bag-item__price-tag {
	transform: scale(0.7);
	position: relative;
	left: -13.4px;
}

.bag-item-qty-cntr-container {
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.bag-item__qty-cntr {
	width: 40%;
}

.bag-item__amt {
	width: 30%;
	font-weight: 700;
}

/* .bag-item__deli-chrg {
	width: 15%;
} */

.bag-total-box-container {
	display: flex;
	justify-content: flex-end;
}

.bag-total-box-container .bag-total-box {
	width: 400px;
}

.bag-total-box {
	text-align: right;
}

.bag-total-box .em-btn {
	width: 100%;
}

.bag-total-box__total {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	padding: 12px 0;
}

.total-box__label {
	display: inline-block;
	text-align: left;
	width: 40%;
	padding-left: 20px;
}

.bag-total-box__price {
	width: 60%;
	display: inline-block;
	padding: 18px 20px;
	font-size: 26px;
	font-weight: 700;
}

.bag-total-box__price-unit {
	display: inline-block;
	width: 24px;
	font-size: 14px;
	text-align: left;
}

.bag-emtpy-msg {
	text-align: center;
	margin-top: 20vh;
	font-size: 2rem;
}

/* ORDER CHECKOUT */
.chkout-container {
	display: flex;
}

.chkout-form-box {
	width: 60%;
	padding: 0 40px;
}

.chkout-form-box .select-box__selected,
.chkout-form-box .select-box__list > li {
	height: 46px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.chkout-fs {
	padding: 20px 0;
}

.chkout-fs__title {
	font-size: 18px;
	font-weight: 700;
	padding: 24px 12px;
	width: 100%;
	border-bottom: 1px solid #767676;
	border-top: 1px solid #767676;
	background-color: #f8f8f8f8;
}

.chkout-fs__item {
	height: 46px;
	margin: 12px 0;
}

.chkout-fs__item .text-input__input {
	letter-spacing: 2px;
}

.chkout-fs__item--w-btn .input-field {
	display: flex;
	height: 100%;
}

.chkout-fs__item--w-btn .text-input {
	flex: 1 1 auto;
	/* width: calc(100% - 142px); */
}

.chkout-fs__item--w-btn .btn {
	height: 46px;
	width: 120px;
	margin-left: 12px;
}

.chkout-fs__item--sel-box .input-label {
	display: inline-flex;
}

.chkout-fs__item--sel-box .select-box {
	width: calc(100% - 140px);
	display: inline-block;
}

.chkout-fs__item--sel-box .select-box__selected {
	border: 1px solid #d3d3d3;
}

.chkout-fs__item--sel-box .select-box__options {
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}

/* .text-input__input.sub-address,
.text-input__input.zipcd {
	letter-spacing: 2px;
} */

.chkout-fs-direc {
	font-size: 13px;
	padding: 0 0 12px 140px;
	line-height: 1.5;
	color: #767676;
}

.chkout-fs-direc--cm {
	font-weight: 900;
	color: #333;
}

.chkout-fs-chckbox {
	margin: 22px 0 10px;
}

.chkout-fs-chckbox .text-box {
	font-size: 0.9rem;
}

.chkout-fs-chckbox .checkbox-label {
	font-weight: 700;
}

.chkout-addr-box {
	min-height: 362px;
	/* height: 42px; */
	border: 2px solid #333;
	padding: 16px;
	padding: 16px 24px 24px;
}

.chkout-fs-direc.chkout-addr-sec {
	padding-bottom: 0;
}

.chkout-addr-search-box {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #333;
}

.chkout-addr-search-box .text-input {
	height: 46px;
	border-width: 0;
}

.chkout-addr-search-box .btn {
	font-size: 1rem;
}

.chkout-addr-rslt-box {
}

.chkout-addr-rslt-list {
	height: 368px;
	overflow-y: auto;
	color: #333;
}

.chkout-addr-rslt {
	border: 1px solid #d3d3d3;
	padding: 20px;
	margin: 12px 0;
}

.chkout-addr-rslt:last-child {
	margin-bottom: 0;
}

.chkout-addr-rslt__zipcd {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 6px;
}

.chkout-addr-rslt__addr {
	display: flex;
	font-size: 0.8rem;
	font-weight: 700;
}

.chkout-addr-rslt__addr-dt {
	color: #3d63f6;
	min-width: 50px;
	line-height: 1.7;
}

.chkout-addr-rslt__addr-sel-btn {
	text-align: left;
	line-height: 1.7;
	border-width: 0;
}

.chkout-addr-rslt__addr-sel-btn:hover {
	text-decoration: underline;
}

.chkout-addr-no-rslt {
	padding: 20px 0;
	font-size: 0.9rem;
	color: #333;
}

.chkout-addr-ex-dt {
	color: #333;
}

.chkout-addr-ex-dd {
	margin-bottom: 12px;
}

.pay-mtd-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.pay-mtd-item {
	width: calc(25% - 12px);
	font-size: 14px;
	padding: 12px 0 6px;
}

.pay-mtd-item__label {
	/* padding: 18px 12px; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	border: 1px solid #e5e5e5;
	border-radius: 50px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.2s;
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: center;
}

.pay-mtd-item__label:hover {
	background-color: #e5e5e5;
	color: #3d63f6;
}

.pay-mtd-item__label--selected {
	background-color: #e5e5e5;
	color: #3d63f6;
}

.pay-mtd-item__label--hdcard {
	background-image: url(./../img/pay-mtd-hdcard.png);
}

.pay-mtd-item__label--npay {
	background-image: url(./../img/pay-mtd-npay.png);
}

.pay-mtd-item__label--toss {
	background-image: url(./../img/pay-mtd-toss.png);
}

.pay-mtd-item__label--kakao {
	background-image: url(./../img/pay-mtd-kko.png);
}

.pay-mtd-item__label--payco {
	background-image: url(./../img/pay-mtd-payco.png);
}

/* .pay-mtd-item__label--hdcard {
	background-image: url(./../img/pay-mtd-toss.png);
} */

.pay-mtd-item__icon img {
	width: 40px;
}

.pay-mtd-item__desc-box {
	position: absolute;
	top: 160px;
	left: 0;
	padding: 22px 0;
	font-size: 0.83rem;
}

.pay-mtd-item__desc-title {
	padding-bottom: 22px;
	font-size: 1.1rem;
	font-weight: 700;
}

.pay-mtd-item__desc-list {
	margin-left: 22px;
	list-style: disc;
}

.pay-mtd-item__desc-item {
	margin-bottom: 22px;
}

.pay-mtd-item__desc-content {
	line-height: 2;
}

.chkout-order-info-box {
	position: sticky;
	top: 40px;
	align-self: flex-start;
	width: 40%;
	padding-right: 40px;
	margin-bottom: 40px;
}

.chkout-order-info-box .container {
	min-width: 325px;
	border: 5px solid #d8d8d8;
	padding: 0 18px 18px;
}

.chkout-order-info-title-box {
	font-size: 18px;
	font-weight: 700;
	padding: 24px 0 0;
	width: 100%;
}

.chkout-order-info-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #d3d3d3;
}

.chkout-prdt-box {
	max-height: 196px;
	overflow: auto;
	border-bottom: 1px solid #d3d3d3;
}

.chkout-prdt-item {
	margin: 12px 0;
}

.chkout-prdt-link {
	display: flex;
}

.chkout-prdt-img-box {
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.chkout-prdt-img {
	width: 100%;
}

.chkout-prdt-name {
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.5;
	padding: 12px 0;
}

.chkout-prdt-opt {
	background-color: #e5e5e5;
	padding: 0 4px;
	font-size: 0.85rem;
	font-weight: 700;
}

.chkout-prdt-price {
	font-size: 0.84rem;
	padding-top: 12px;
}

.chkout-prdt-dscnt {
	font-size: 1rem;
	color: #3d63f6;
	font-weight: 700;
}

.chkout-total-box .bag-total-box__price {
	font-size: 1rem;
	padding-top: 12px;
	padding-bottom: 12px;
}

.chkout-total-box .bag-total-box__total {
	border-top: 1px solid #d3d3d3;
}

.chkout-total-box .bag-total-box__total .bag-total-box__price {
	font-size: 26px;
	font-weight: 900;
}

/* .chkout-confirm-box .em-btn--buy-now {
	margin-bottom: 18px;
} */

/* .chkout-confirm-box .em-btn--buy-now:hover {
	color: #3d63f6;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
} */

.chkout-confirm-box .em-btn--buy-now.checkout-ready {
	color: #fff;
	background-color: #3d63f6;
	border: 1px solid #3d63f6;
}

.chkout-confirm-box .em-btn--buy-now.checkout-ready:hover {
	color: #fff;
	background-color: #3d63f6;
	border: 1px solid #3d63f6;
	transform: translateY(-2px);
}

.chkout-confirm-box .text-box {
	text-align: left;
	align-items: flex-start;
}

.chkout-confirm-box .checkbox {
	transform: scale(1.3);
	top: 5px;
	left: 3px;
}

.chkout-confirm-box .checkbox-label {
	font-size: 0.9rem;
	margin-left: 20px;
	font-weight: 700;
}

.chkout-confirm-sel-box {
	padding: 16px 0;
}

.chkout-confirm-box .em-btn--buy-now {
	width: 100%;
}

.chkout-confirmed-amt {
	display: none;
}

/* ACCOUNT DELETING */
.section--delete .centering-box {
	margin: 32px auto;
}

.section--delete .centering-box .btn {
	width: 100%;
}

.section--delete .space-bw-box {
	padding: 40px 0;
}

.section--delete .btn {
	height: 50px;
}

.section--delete .btn--link {
	font-size: 14px;
}

.section--delete .text-box-group {
	padding: 0 10px;
}

.section--delete .text-box {
	font-size: 1rem;
	line-height: 2;
	display: inline-flex;
	width: 90%;
}

.section--delete .icon--chk {
	width: 10%;
	/* text-align: center; */
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	top: 4.6px;
}

.section--delete .icon--chk .checkbox {
	width: 20px;
	height: 20px;
}

.section--delete .icon--chk .checkbox,
.section--delete .icon--chk .checkbox::before {
	border-radius: 50%;
}

.section--delete .icon--chk .checkbox::after {
	top: 2px;
	left: 6px;
}
/* GOODS LIST */
.section--list {
	/* creating block formatting context to avoid margin offset with parent */
	overflow-y: auto;
}

.section--list .container {
	padding: 150px 20px 20px;
}

.goods-item-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.goods-item {
	display: inline-block;
	width: 25%;
	height: 280px;
	padding: 0 16px;
	box-sizing: border-box;
}

.goods-item__img-box {
	display: flex;
	align-items: center;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.goods-item__img-box img {
	width: 100%;
}

.goods-item__label {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: opacity 0.4s;
}

.goods-item__label--visible {
	opacity: 1;
}

.goods-item__label > * {
	display: block;
	margin-top: 8px;
}

.goods-item__name {
	font-weight: 700;
}

.goods-item__price {
	font-size: 13px;
}

/* opacify labels for all the devices like iPad Pro */
@media (max-width: 1024px) {
	.goods-item__label {
		opacity: 1;
	}
}

@media (max-width: 1023px) {
	.goods-item {
		width: 50%;
		height: 400px;
	}
}

/* GOODS */
.section--goods .container {
	padding: 80px 40px 40px;
}

/* GOODS DETAIL */
.prdt-details-sub-title {
	padding-bottom: 50px;
	font-size: 22px;
	text-align: left;
	font-weight: 700;
}

.prdt-info-box {
	display: flex;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}

.prdt-detail {
	width: 47%;
	padding: 20px;
}

.prdt-detail__prdt-img {
	/* height: calc(100vh - 130px);
	overflow-y: scroll; */
	width: 100%;
	overflow-x: hidden;
}

.prdt-detail__prdt-img img {
	display: block;
	width: 100%;
}

/* .prdt-detail__desc > * {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
} */

.prdt-highlights-list {
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}

.prdt-highlights-item {
	display: flex;
	padding: 20px 0;
}

.prdt-highlights-item__icon {
	width: 52px;
	text-align: left;
	color: #767676;
}

.prdt-highlights-item__title {
	font-size: 16.8px;
}

.prdt-highlights-item__desc {
	padding-top: 10px;
	color: #767676;
	font-size: 14px;
}

.prdt-size-details {
	padding: 50px 0;
}

/* STICKY BUY HELPER */
.prdt-buy-helper {
	width: 53%;
	padding: 20px;
}

.prdt-summary {
	position: sticky;
	position: -webkit-sticky;
	top: 100px;
}

.prdt-summary__content {
	padding: 20px 0;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.prdt-header__title {
	font-size: 32px;
	font-weight: 700;
}

.prdt-header__info {
	padding: 20px 0 0;
	font-size: 12px;
}

.rating-star {
	color: #f29a38;
	margin-right: 12px;
}

.rating-star-icon--gray {
	color: #e5e5e5;
}

.prdt-btn-box {
	position: absolute;
	right: 20px;
	bottom: 18px;
}

.prdt-fav-btn,
.prdt-share-btn {
	font-size: 18px;
	color: #333;
}

.benefits-box__title {
	font-weight: 700;
	font-size: 13px;
}

.benefits-box__list {
	font-size: 12px;
	line-height: 2;
	padding: 12px 0 0 16px;
	display: table;
	width: 100%;
}

/* .benefits-box__list li {
	line-height: 2;
} */

.benefits-box__item > span {
	margin-right: 5px;
	display: table-cell;
}

.benefits-box__item > span:first-child {
	width: 140px;
}

.buy-options {
	border-bottom-width: 0;
}

.selected-prdts {
	padding-top: 0;
}

.selected-prdts-item {
	display: flex;
	padding: 8px 0;
}

.selected-prdts-item > * {
	width: 33.3%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selected-prdts-item__amt {
	justify-content: flex-end;
}

.selected-prdts-item__disc-btn {
	color: #767676;
	margin-left: 12px;
	padding: 0;
}

.total-amt-box {
	font-weight: 900;
	text-align: right;
	border-bottom-width: 0;
}

.total-amt {
	font-size: 1.5em;
	margin-right: 12px;
}

.msg-box {
	padding-bottom: 20px;
	font-size: 14px;
	color: #3d63f6;
}

.buy-btn-box {
	border-bottom-width: 0;
	padding-top: 0;
}

.buy-btn-box > .em-btn {
	width: 50%;
}

.buy-btn-box .em-btn:first-child {
	border-right-width: 0;
}

.prdt-review-box {
	padding: 50px 20px 20px;
}

.prdt-review-artc {
	padding-bottom: 40px;
}

.prdt-review-artc__header {
	display: flex;
	padding-bottom: 6px;
}

.prdt-review-artc__profile-img,
.prdt-review-artc__user-info {
	display: inline-block;
}

.prdt-review-artc__profile-img {
	width: 50px;
	height: 50px;
}

.prdt-review-artc__profile-img a {
	display: block;
	height: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	overflow: hidden;
}

.prdt-review-artc__profile-img img {
	width: 100%;
}

.prdt-review-artc__user-info {
	margin-left: 12px;
	padding: 6px;
	font-size: 14.5px;
}

.prdt-review-artc__reg-dt {
	padding-top: 6px;
	font-size: 11px;
	color: #767676;
}

.prdt-review-artc__main-con {
	padding-left: 68px;
	font-size: 14px;
}

/* SPINNER */
.spinner {
	display: flex;
	justify-content: center;
}

.spinner__cnt {
	width: 36px;
	height: 36px;
	border-radius: 0;
	border: 1px solid #e5e5e5;
	border-left-width: 0;
	border-right-width: 0;
	padding: 5px;
	text-align: center;
	font-size: 1rem;
}

.spinner__btn {
	width: 36px;
	height: 36px;
	padding: 5;
	padding: 5px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

/* SELECT BOX */
.select-box {
	position: relative;
	font-size: 0.9rem;
}

.select-box__selected {
	display: flex;
	line-height: 3;
	text-align: left;
	padding-left: 12px;
	border: 1px solid #e5e5e5;
}

.select-box__label {
	flex: 1 1 auto;
	cursor: pointer;
}

.btn--disabled .select-box__label {
	cursor: not-allowed;
}

.select-box__title {
	position: relative;
	height: 100%;
}

.select-box__title > * {
	height: 100%;
	display: flex;
	align-items: center;
}

.select-box__title-text {
	padding-right: 34px;
}

.select-box__trigger {
	position: absolute;
	top: 0;
	right: 12px;
	color: #767676;
}

.select-box__trigger--down {
	transform: rotateX(180deg);
}

.select-box__options {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-top-width: 0;
	max-height: 250px;
	overflow-y: auto;
}

.select-box__options.expanded {
	display: block;
}

.select-box__list {
	background: #fff;
	cursor: pointer;
}

.select-box__list > li {
	line-height: 3;
	padding: 0 12px;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.select-box__list > li:hover {
	background-color: #f7f7f7;
}

/* TABLE */
.table {
	width: 100%;
}

.table-caption {
	/* padding-bottom: 26px;
	font-size: 22px;
	text-align: left;
	font-weight: 700; */
}

.table tr {
	border: 1px solid #e5e5e5;
}

.table tr,
.table th,
.table td {
	padding: 12px 6px;
	text-align: center;
	vertical-align: center;
}

.table-head-row {
	font-size: 14px;
}

.table-body-row {
}

/* PAGE SHARE BOX */
.share-box {
	padding: 40px 80px;
}

.share-box__title {
	padding: 20px 0;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	line-height: 1.5;
}

.share-mtd-list {
	margin-top: 26px;
	font-size: 18px;
}

.share-mtd-item {
	line-height: 1.5;
	padding: 20px 0;
}

.share-mtd-item a:hover {
	border-bottom: 0.3px solid #3d63f6;
	color: #3d63f6;
}

.share-mtd-item__icon {
	margin-right: 20px;
}
